:root{
    /* colors */
    --header-color:
    --name-color: 
    --btn-header-color:
    --icon-color:
    --icon-color-dark:

    --toggle-bg:

    /* fonts */
    --name-font:
    --btn-header-font:

    /* img */
    --icon-img:
    --icon-img-dark:
}




img{
    width: 100%;
    height: 100%;
}