:root{
    /* colors */
    --toggle-bg: gray;
    --icon-color-dark: darkslategray;
    --icon-color: blue;

    --header-color: wheat;
    --name-color: green;
    --btn-header-color: whitesmoke;

    --hero-title-color: crimson;
    --hero-btn-color: crimson;

    /* fonts */
    --name-font:
    --btn-header-font:

    --hero-btn-font:
    --hero-title-font:

    /* img */
    --icon-img:
    --icon-img-dark:
}




img{
    width: 100%;
    height: 100%;
}

