:root{
    /* colors */
/*     --name-color-1: #28c2a0;
    --name-color-2: #5bcba5;
    --name-color-3: #7ae3d7; */

    --name-color-1: #3ad29f;
    --name-color-2: #6cd8d3;
    --name-color-3: #88c1e8; 
    --btn-header-color: #aeebe2;
    --btn-header-color-hover: #00ada7;

    --hero-title-color-1: #11a48e ;
    --hero-title-color-2: #197a72 ;
    --hero-btn-color: #82d6ee;



    --form-label-color: lightblue;
    --submit-btn-color: royalblue;
    --submit-btn-text-color:#f4f4f4;
    


    /* fonts */
    --name-font: 'Cinzel decorative', cursive;
    --btn-header-font:"Yeseva One", serif;

    --hero-btn-font: "Alegreya", serif;
    --hero-title-font: "Playfair Display", serif;

    --sections-title: "Cormorant Garamond", serif;
    --sections-subtitle: "MonteCarlo", cursive;
    --sections-text: "Merriweather", serif;

    --destiny-card-title: "Marck Script", cursive;
    --destiny-card-text: "Karla", sans-serif;
    --destiny-card-link-text: "Lato", sans-serif;

    --feedback-card-name: "EB Garamond", serif;
    --feedback-card-place:  "Amatic SC", sans-serif;

    --form-label:"Work Sans", sans-serif;



    /* img */    
    --hero-img-1: url(/src/imgs/amazon-tourism.jpg);
    --hero-img-2: url(/src/imgs/amazon-tour3.jpg);
    --hero-img-3: url(/src/imgs/amazon-tour.jpeg);
    --hero-img-4: url(/src/imgs/amazon-tour5.jpg);
    --hero-img-5: url(/src/imgs/amazon-tourism2.jpg);
    --hero-img-6: url(/src/imgs/amazon-tourism4.jpg);
    --hero-img-7: url(/src/imgs/amazon-tour-boat.jpg);


    
    --hero-img: var(--hero-img-4);
}

[data-theme="dark"]{
    --bg-color:#446158;
    --toggle-bg: #0b3d3c;
    --icon-color: #f1e3ff;
    --header-bg: rgba(0, 0, 0, 0.6);

    --sections-title-color: #5ae0b8;
    --sections-text-color: #dfe7fd;
    --sections-subtitle-color: #e9cca3;

    --destiny-card-color: #1d3937;
    --destiny-card-title-color: #9ecda5;
    --destiny-card-text-color: #f3f7f9;
    --destiny-card-link-color: #3ad29f;
    --destiny-card-link-text-color: #195042;

    --feedback-card-color: #073a4b;
    --feedbakc-card-name-color:  #f04770;
    --feedback-card-place-color: #06d7a0 ;
}

[data-theme="light"]{
    --bg-color:#9ecda5;
    /* --toggle-bg: ; */
    --toggle-bg: #82d6ee;
    --icon-color: #f4d160;
    --header-bg: rgba(0, 0, 0, 0.4);
    
    --sections-title-color: #0c3a3a;
    --sections-text-color: #1b4332;
    --sections-subtitle-color: #582f0e;

    --destiny-card-color: #111b2e;
    --destiny-card-title-color: #ffd72a;
    --destiny-card-text-color: #eeffef;
    --destiny-card-link-color: #c52a5d;
    --destiny-card-link-text-color: #182641;

    --feedback-card-color:  #06d7a0;
    --feedbakc-card-name-color:  #f04770;
    --feedback-card-place-color: #073a4b ;
}

body{
    background-color: var(--bg-color);
    transition: all 1000ms ease-out;  
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100dvh;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

/* Estilos para Paginação e Navegação  */
.swiper-pagination-bullet {
    background-color: var(--name-color-1);
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background-color: var(--name-color-3);
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--name-color-2); 
    --swiper-navigation-size: 30px; 
    top: 50%; /* Ajuste vertical se necessário */
    transform: translateY(-50%);
}
